.App {
    padding-top: 10px;
    text-align: center;
}

.main-divider {
    padding-top: 10px;
}

.search-button {
    margin-left: 2px;
}

.last-autocomplete {
    border: 1px solid #7dd8e6;
}

.last-search {
    border: 1px solid #90ee90;
}

.last-autocomplete, .last-search {
    display: inline-block;
    border-radius: 3px;
    padding: 1px;
    line-height: 1;
    font-style: italic;
}

.last-autocomplete-text, .last-search-text {
    font-style: normal;
    font-weight: bold;
}


.cal-and-active {
    display: flex;
}

.polar-calendar {
    display: inline-block;
}

.active-workout {
    display: inline-block;
    text-align: left;
    max-height: 400px;
    height: 400px;
    overflow: scroll;
}
